<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.publit.io">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FilesActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".FoldersActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".VersionsActivity"
            android:screenOrientation="portrait"/>

        <!--ADD YOUR API KEY HERE-->
        <meta-data
            android:name="publitio_api_key"
            android:value="YOUR_API_KEY" />

        <!--ADD YOUR API SECRET HERE-->
        <meta-data
            android:name="publitio_api_secret"
            android:value="YOUR_API_SECRET" />

    </application>

</manifest>